AnchorPane {
    -fx-background-color: #23272a;
    -fx-border-color: #4b4f53;
    -fx-border-radius: 10px;
    -fx-padding: 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.1, 0, 2);
}

Text {
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-size: 14px;
    -fx-fill: #ffffff;
    -fx-font-weight: normal;
}

#gameStats Text {
    -fx-font-weight: normal;
}

VBox {
    -fx-background-color: #23272a;
    -fx-border-color: #4b4f53;
    -fx-border-radius: 10px;
    -fx-padding: 10 0 0 0;
    -fx-spacing: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.1, 0, 2);
}


HBox {
    -fx-spacing: 10;
    -fx-padding: 0 0 0 5;
    -fx-alignment: center-left;
}

HBox Text:first-child {
    -fx-translate-x: 10;
}


Button {
    -fx-background-color: #4caf50;
    -fx-text-fill: #ffffff;
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-padding: 4 8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.1, 0, 2);
    -fx-cursor: hand;
}

Button:hover {
    -fx-background-color: #388e3c;
}

Button:focused {
    -fx-background-color: #4caf50;
}


ScrollPane {
    -fx-background-color: #23272a;
    -fx-border-color: #4b4f53;
    -fx-border-radius: 5px;
    -fx-padding: 0;
}

ScrollPane .viewport {
    -fx-background-color: #23272a;
}


CheckBox {
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-size: 12px;
    -fx-text-fill: #dcdcdc;
    -fx-padding: 0;
}

CheckBox:selected {
    -fx-mark-color: #5865f2;
}

.chart {
    -fx-background-color: transparent;
}

.chart-plot-background {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.chart-axis {
    -fx-tick-label-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.chart-axis .axis-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}


.chart-series-line {
    -fx-stroke: white;
    -fx-stroke-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0.1, 0, 0);
}

.chart-symbol {
    -fx-background-color: green, transparent;
    -fx-background-radius: 5px;
    -fx-padding: 3;
    -fx-border-color: green;
    -fx-border-width: 1px;
}

.chart-legend {
    -fx-background-color: transparent;
}

.chart-legend-item-symbol {
    -fx-background-radius: 3px;
}

