AnchorPane {
    -fx-background-color: #2c2f33;
}

Text {
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-size: 18px;
    -fx-fill: #ffffff;
    -fx-font-weight: bold;
}

Label {
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: #dcdcdc;
}

TextField {
    -fx-background-color: #23272a;
    -fx-border-color: #4b4f53;
    -fx-border-radius: 5px;
    -fx-padding: 5 10;
    -fx-font-size: 14px;
    -fx-font-family: 'Arial', sans-serif;
    -fx-text-fill: #ffffff;
    -fx-highlight-fill: #7289da;
    -fx-highlight-text-fill: #ffffff;
}

TextField:focused {
    -fx-border-color: #ffffff;
    -fx-border-width: 2;
}

ScrollPane {
    -fx-background-color: #23272a;
    -fx-border-color: #4b4f53;
    -fx-border-radius: 5px;
    -fx-padding: 10;
}


ScrollPane .viewport {
    -fx-background-color: #23272a;
}

#savedConfigsVBox {
    -fx-border-color: #23272a;
    -fx-effect: none;
}

Button {
    -fx-background-color: #4caf50;
    -fx-text-fill: #ffffff;
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-padding: 8 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.1, 0, 2);
    -fx-cursor: hand;
}

Button:hover {
    -fx-background-color: #388e3c;
}

Button:focused {
    -fx-background-color: #4caf50;
}



CheckBox {
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: #dcdcdc;
    -fx-padding: 5;
}

CheckBox:selected {
    -fx-mark-color: #5865f2;
}

VBox {
    -fx-background-color: #23272a;
    -fx-border-color: #4b4f53;
    -fx-border-radius: 10px;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.1, 0, 2);
}

AnchorPane {
    -fx-background-color: #23272a;
    -fx-border-color: #4b4f53;
    -fx-border-radius: 10px;
    -fx-padding: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.1, 0, 2);
}
